RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
RESEND_FROM_EMAIL=Thiago Machado <onboarding@resend.dev>
RESEND_TO_EMAIL=thiagocmach@gmail.com
RESEND_REPLY_TO_EMAIL=thiagocmach@gmail.com
REACT_APP_CONTACT_ENDPOINT=/.netlify/functions/send-contact
